{{#> layouts/base.html }}
{{#*inline "body-block"}}
Félicitation, <a href="{{getVideoNodeLink videoNode}}">{{videoNode.title}}</a> a été approuvé au sein de la collection <a href="{{getCollectionLink collection}}">{{collection.name}}</a>.
<br /><br />
Que faire maintenant ? C'est vous le patron, mais voici quelques idées :<br />
- Partagez le lien sur vos réseaux sociaux, ça fera sûrement plaisir à vos proches de finalement voir les productions
sur lesquelles vous travaillez tant !<br />
- Activez les dons si ce n'est pas déjà fait (<a href="{{helpCenterUrl}}">plus d'infos</a>).<br />
- Parlez de Claptime à vos amis du milieu. Le bouche à oreille, ça compte !<br /><br />
{{/inline}}
{{/layouts/base.html}}
