{{#> layouts/base.html }}
{{#*inline "body-block"}}
Votre soumission <a href="{{getVideoNodeLink videoNode}}">{{videoNode.title}}</a> n'a pas été approuvé au sein de la collection <a href="{{getCollectionLink collection}}">{{collection.name}}</a>.<br />
{{#if rejectionReason}}
<b>Raison :</b> {{rejectionReason}}<br />
{{/if}}
Nous vous invitons à contacter l'animateur de cette collection pour en savoir plus.
{{/inline}}
{{/layouts/base.html}}
